[user]
  name = SengMing Tan
  email = tansengming@gmail.com
[alias]
  b = branch
  co = checkout
  stat = status
  h = log --pretty=format:'%Cblue%h %Cgreen %ar%Creset %s'
  l = log --decorate --oneline
  root = !echo "$(git rev-parse --show-toplevel)"
[color]
  ui = auto
[diff]
  color = auto
  rename = copy 
[pager]
  color = true 
[status]
  color = auto
[github]
  user = tansengming
[core]
  quotepath = false
  editor = vim
[push]
  default = upstream
